body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  position: relative;
}
a {
  color: #00abff;
  text-decoration: none;
}
a:hover {
  color: #0B8BD2;
}
h1 {
  font-weight: normal;
  font-size: 2.2em;
  border-bottom: 1px solid #bbb;
  padding: 0 0 10px 0;
}
h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 30px 0 0;
}
header {
  background-color: #00abff;
  color: #FFF;
  height: 100px;
  overflow: hidden;
}
.logo {
margin: 15px 0 0 30px;
border: none;
margin-left: 30px;
}
.slogan {
  margin: 0 0 0 30px;
  font-size: 1em;
}
.copy {
  padding-right: 30px;
  float: right;
  font-size:.8em;
}
.adm {
  float: left;
  font-size:.8em;
  padding-left: 30px;
}
footer {
  background-color: #00abff;
  color: #FFF;
  height: 36px;
  position: absolute;
  width: 100%;
}
footer a,
header a {
  color: #FFF;
}
footer a:hover,
header a:hover {
  color: #FFF;
}
.wrapper {
  clear: both;
}
.content {
  float: left;
  padding: 0 0 0 30px;
  width: 60%;
  margin-bottom: 40px;
}
.sidebar {
  background: #EAF2FD;
  float: right;
  height: 100%;
  padding: 10px;
  width: 30%;
}
.pagination {
  margin: 40px 0;
  font-weight: bold;
  text-align: center;
}
.pagination .active a {
  color: white;
  text-align: center;
}
ul.pagination li {
  display: inline;
  list-style: none;
  margin: 0 15px;
}
.pagination .active {
  border-radius: 50%;
  background: #00abff;
  padding: 10px 10px 10px 14px;
  text-align: center;
}
.submitted {
  color: #ccc;
  font-family: georgia, serif;
  font-size: 12px;
  font-style: italic;
}
.clear {
  clear: both;
}
.answer {
  background-color: #EAF2FD;
  margin: 10px 0 10px 30px;
  padding: 10px 20px;
}
.info {
  color: #0B8BD2;
}

/* Forms */
.form label {
  display: block;
}
.form input {
  padding: 5px;
}
.form-field {
  margin-bottom: 10px;
}
.alert {
  color: red;
}
.alert input,
.alert textarea {
  background-color: #FFE8E8;
  border: 1px solid red;
}
